.text{
  /*display: inline;*/
  color : white;
  /*float: left;*/
}

.col-md-4{
  /*width:100%;*/
  margin: 0px;
}

body{
  background: url("../images/main-bg.jpg") no-repeat center center fixed;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.bigContainer{
  margin : 0px;
  padding : 0px;
}
.full-name{
  display: inline;
  color : #f0e6b1;
}

.footer{
  height: 70px;
  width: 100%;
  position: absolute;
  bottom : 0px;
    background-color: rgba(240,230,177,0.1);
}


.leftPane{
  margin : 0px;
  padding : 0px;
  height : 100%;
  position: relative;
}

.imageLogo{
  height : 100%;
  display: flex;
  align-items: center;
}

.video, .twitter{
  margin : 0px;
  padding : 0px;
  height :100%;
}


.twitter{
  overflow: auto;
  outline: 0 none;
  border-left : solid rgba(240,230,177,0.2);
}

.id-name{
  margin-left: 10px;
  color : #99a37a;
}

.showVideo{
  position : absolute;
  padding : 10px;
  bottom: 10px;
  right : 15px;
  border : 1px solid #B5D6AA;
  border-radius: 20px;
}

.logo {
  margin: 0 auto;
  /*position: absolute;/*/
}
.video{
  /*background-color: red;*/
  display: flex;
  align-items: center;
  /*position: absolute;*/
}

.video video{
  margin : 0 auto;
}
.media-list{
    margin-top : 10px;
    margin-left : 40px;
    margin-right : 40px;
    /*background-color: red;*/
}
.media{
  padding : 10px;
  margin-top : 10px;
  margin-bottom: 10px;
  background-color:rgba(61, 53, 54, 0.8);
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
}

.media-object{
  margin-top :5px;
  margin-left : 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
